body{
    font-family: Poppin;
    background: black;
    z-index: 1;
    color: white;
}
#main-content{
    position: relative;
    z-index: 2;
    background-image: radial-gradient(circle farthest-side at 100% 0, rgb(255 27 27 / 20%), transparent 72%);

}
h1,h2{
    text-align: center;
    font-size: 60px;
    margin: 100px 0 50px 0px;
    font-weight: bold;
    color:white;
    font-family:Assian;
}

p{
    font-family: Poppin;
    margin-top: 18px;
    font-size: 22px;
}
summary{
    font-size: 22px;
    padding: 1rem 0px 10px;
}
.btn{
    border: 2px solid #ff0000;
    font-size: 20px;
    padding:10px 20px;
    background: none;
    &:hover{
        background: #ff0000;
        border: none;
    }
  
   
}
.button{
    font-family: Poppin;
}
a{
    color: inherit;
    display: inline-block;
    &:hover{
        color: #ff0000!important;
    }
}
$red:#dc3545;

@media screen and (max-width: 991px) {
    h1,h2{
        text-align: center;
        font-size: 40px;
        margin: 100px 0 50px 0px;
        font-weight: bold;
    }
    .button{
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    h1,h2{
        font-size: 40px;
       
    }
    p{
        font-size: 18px;
    }
    span{
        font-size: 18px!important;
    }
    button{
        font-size: 18px!important;
    }
    a{
        font-size: 18px;
    }
}