body{
    font-family: Poppin;
    background: #0b111b;
    z-index: 1;
    color: white;

}
#main-content{
    position: relative;
    z-index: 2;
    background-image: radial-gradient(circle farthest-side at 100% 0, rgb(40 38 38 / 20%), transparent 72%);
    background-image: url(/img/new-banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
h1,h2{
    text-align: center;
    font-size: 60px;
    margin: 100px 0 50px 0px;
    font-weight: bold;
    color:white;
    font-family:Evil;
}

p{
    font-family: Poppin;
    margin-top: 18px;
    font-size: 22px;
}
summary{
    font-size: 22px;
    padding: 1rem 0px 10px;
}
.btn{
    border: 2px solid #0b4570;
    font-size: 20px;
    padding:10px 20px;
    background: none;
    &:hover{
        background: #0b4570;
        border: none;
    }
  
   
}
.button{
    font-family: Poppin;
}
a{
    color: inherit;
    display: inline-block;
    &:hover{
        color: #0b4570!important;
    }
}
$red:#0b4570;

@media screen and (max-width: 991px) {
    h1,h2{
        text-align: center;
        font-size: 40px;
        margin: 100px 0 50px 0px;
        font-weight: bold;
    }
    .button{
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    #main-content{
        position: relative;
        z-index: 2;
        background-image: radial-gradient(circle farthest-side at 100% 0, rgb(40 38 38 / 20%), transparent 72%);
        background-image: url(/img/new-banner-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    h1,h2{
        font-size: 40px;
       
    }
    p{
        font-size: 18px;
    }
    span{
        font-size: 18px!important;
    }
    button{
        font-size: 18px!important;
    }
    a{
        font-size: 18px;
    }
}